*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "display";
    src: url("fonts/Open-24-Display-St.woff");
}
@font-face {
    font-family: "calculator";
    src: url("./fonts/Calculator.woff");
}
.container{
    width: 100%;
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "calculator";
}
.container h1{
    font-size: 150px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(194, 78, 78);
}
.container h1.titulo{
    color: rgba(251, 255, 0, 0.446);
    text-shadow: 2px 2px 5px rgb(221, 13, 13);
}
.container button{
    border: none;
    width: 150px;
    height: 40px;
    color: #343100;
    border-radius: 7px;
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
    font-family: "calculator";
    cursor: pointer;
}
.btn-zerar{
    background-color: rgb(255, 88, 88);
}
.btn-iniciar{
    background-color: #93ff62;
}

@media screen and (max-width: 500px){
    .container h1{
        font-size: 90px;
    }
    .botoes{
        display: flex;
        flex-direction: column;
    }
}